:root {
    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #318500;
    --color-primary-200: #4d922a;
    --color-primary-300: #65a046;
    --color-primary-400: #7bad60;
    --color-primary-500: #92bb7a;
    --color-primary-600: #a7c894;
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    accent-color: var(--color-primary-400);
    font-family: Arial, Helvetica, sans-serif;
}

button,
input,
select,
textarea {
    background-color: var(--color-surface-300);
    border-radius: 4px;
    padding: 2px 4px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
    background-color: var(--color-surface-300);
    border: 1px solid var(--color-surface-300);
    transition: all 150ms;
}

button:hover {
    border-color: var(--color-primary-500);
}