:root {
    --transition-duration: 1000ms;
}

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: CustomFont, Arial, Helvetica, sans-serif, sans-serif;
    font-size: 4vh;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: min(16vh, 16vw);
}

h2 {
    font-size: min(12vh, 12vw);
}

h3 {
    font-size: min(10.4vh, 10.4vw);
}

h4 {
    font-size: min(8vh, 8vw);
}

h5 {
    font-size: min(6.4vh, 6.4vw);
}

h6 {
    font-size: min(5.6vh, 5.6vw);
}

p {
    font-size: min(8vh, 8vw);
}

#details {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.image-item, .video-item {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
    z-index: 0;
}

.text-item {
    position: relative;
    width: min(100vw, calc(1.33 * 100vh));
    height: min(100vh, calc(0.75 * 100vw));
    padding: 5vh 5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    text-shadow: 1px 1px 4px black, -1px 1px 4px black, 1px -1px 4px black, -1px -1px 4px black;
}

img.animated {
    transition: opacity var(--image-in) linear;
}

img.animated.hidden {
    transition: opacity var(--image-out) linear;
}

.text-item.animated {
    transition: opacity var(--text-in) linear;
}

.text-item.animated.hidden {
    transition: opacity var(--text-out) linear;
}

video.animated {
    transition: opacity var(--video-in) linear;
}

video.animated.hidden {
    transition: opacity var(--video-out) linear;
}

.hidden {
    opacity: 0;
}

@font-face {
    font-family: Custom;
    src: url(../_media/font.ttf);
}